<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="myApp">
    <head>
    <meta charset="utf-8">
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
      <script src="script.js"></script>
	 
    </head>
	
	<!-- define angular controller -->
    <body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Country catalogue</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#/about"><i class="fa fa-question-circle-o"></i> About</a></li>
                    <li><a href="#/contact"><i class="fa fa-comment"></i> Contact</a></li>
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main">

            <!-- angular templating -->
            <!-- this is where content will be injected -->
			
			<div ng-view></div>
            
            <form>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>

                  <input type="text" class="form-control" placeholder="Search country by name" ng-model="countryFilter">

                </div>      
              </div>
            </form>
            
            <form>
                name <input type="text" ng-model="country.name" />
                address <input type="text" ng-model="country.population"/>
            </form>
            
            <table>
              <tr>
                <th>Code</th>
                <th>Country</th>
                <th>Population</th>
              </tr>
              <tr ng-repeat="country in countries | orderBy: 'code' | filter: countryFilter">
                <td>{{country.code}}</td>
                <td>{{country.name}}</td>
                <td>{{country.population}}</td>
                <td><button class="btn btn-primary" ng-click="edit(country)">Edit</button></td>
              </tr>
            </table>
        </div>

    </body>
    </html>