<div class="container" ng-controller="AboutController">
 <div class="row row-content">
  <div class="col-xs-12 col-sm-9">
    <h2>Darbinieki</h2>
    <ul class="media-list">
     <li class="media" ng-repeat="e in emp">
      <div class="media-left media-middle">
       <a href="#"><img class="media-object img-thumbnail" ng-src={{e.image}}></a>
      </div>
      <div class="media-body">
       <h2 class="media-heading">{{e.name}}</h2>
       <p>{{e.description}}</p>
      </div>
     </li>
    </ul>
   </div>
  </div>