 <div class="container" ng-controller="ContactController">        
  <div class="row row-content">
   <div class="col-xs-12">
    <h3>Your contact information</h3> 
   </div>
   <div class="col-xs-12 col-sm-9" ng-controller="FeedbackController">
   
    <form class="form-horizontal" role="form" name="feedbackForm" ng-submit="sendFeedback()" novalidate>
    
     <div class="form-group" ng-class="{ 'has-error' : feedbackForm.firstname.$error.required && 
  feedbackForm.firstname.$dirty }">
      <label for="firstname" class="col-sm-5 control-label">First Name</label>
      <div class="col-sm-10">
       <input type="text" class="form-control" id="firstname" name="firstname" placeholder="your first name" ng-model="feedback.firstName" required>
       <span ng-show="feedbackForm.firstname.$error.required && feedbackForm.firstname.$dirty" class="help-block">Invalid first name</span>
      </div>
     </div>
     <div class="form-group" ng-class="{ 'has-error' : feedbackForm.lastname.$error.required && 
  !feedbackForm.lastname.$pristine }">
      <label for="lastname" class="col-sm-5 control-label">Last name</label>
      <div class="col-sm-10">
       <input type="text" class="form-control" id="lastname" name="lastname" placeholder="your last name" ng-model="feedback.lastName" required>
       <span ng-show="feedbackForm.lastname.$error.required && !feedbackForm.lastname.$pristine" class="help-block">Invalid last name</span>
      </div>
     </div>
     <div class="form-group">
      <label for="telnum" class="col-sm-5 control-label">Telephone</label>
      <div class="col-xs-5 col-sm-4 col-md-3">
      </div>
      <div class="col-sm-10">
       <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="number" ng-model="feedback.tel.number">
      </div>
     </div>
     <div class="form-group" ng-class="{ 'has-error has-feedback' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
      <label for="emailid" class="col-sm-5 control-label">E-mail</label>
       <div class="col-sm-10">
        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="your email" ng-model="feedback.email" required>
        <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span ng-show="(feedbackForm.emailid.$invalid || feedbackForm.emailid.$error.required) && feedbackForm.emailid.$dirty" class="help-block">Invalid email</span>   
       </div>
      </div>
      
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Submit</button>
       </div>
      </div>

     </form>
     
    </div>
    <div class="col-xs-12 col-sm-3">
     <p style="padding:20px;"></p>
    </div>
   </div>
  </div>
