<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/"><img src="images/firma1.png" height=36></a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
     <li><a ui-sref="app">
      <span class="glyphicon glyphicon-home"></span> Sākums</a></li>
     <li><a ui-sref="app.about">
      <span class="glyphicon glyphicon-info-sign"></span> Par mums</a></li>
     <li><a ui-sref="app.menu">
      <span class="glyphicon glyphicon-list-alt"></span> Piedāvājumi</a></li>
     <li><a ui-sref="app.contact">
      <i class="fa fa-envelope-o"></i> Kontakti</a></li>
    </ul>
   </div>
  </div>
 </nav>         
               
 <header class="jumbotron">
  <div class="container">
   <div class="row row-header">
    <div class="col-xs-12 col-sm-8">
     <h1>B bibliotēka</h1>
     <p style="padding:10px;"></p>
     <p>Paņemtās grāmatas neaizmirstiet laikus atdot!</p>
    </div>
<!--<div class="col-xs-12 col-sm-2">
     <p style="padding:20px;"></p>
     <img src="images/firma1.png" class="img-responsive">
    </div> -->
    <div class="col-xs-12 col-sm-2">
    </div>
   </div>
  </div>
 </header>
 